{% extends "Index.html" %}


{% block nav %}
<nav>
    <ul>
        <li class="_left"><a  href={{ url_for('index') }}>主要指标</a></li>
        <li class=" _left"><a  href={{ url_for("finance") }}>财务情况</a></li>

    </ul>
    <ul><li class="index_middle"><h1 style="font-size:24px;text-align:right">2021年SWIFT银行财务数据可视化</h1></li></ul>
    <ul>
        <li class="_right"><a href={{ url_for("predict") }}>预测分析</a></li>
        <li class="nav_active _right"><a href={{ url_for("business") }}>业务情况</a></li>
    </ul>
</nav>
{% endblock %}

{% block subnav %}

{% endblock %}
{% block main %}
<script type="text/javascript" src="../static/js/num_roll.js"></script>
    <script>
    $(document).ready(function () {
    $.get('/usrpic', function (html) {
        //获取底部的客户信息
        $(".usr").html(html);
    });
    $("#prod").change(function () {

            var m = $("#prod option:selected").val();
            $.ajax({
                url: '/usrpic',
                type:'post',
                data: m,
                success: function (html){
                    $(".usr").html(html).fadeIn(2000);
                    //$(".panel").html(template("chart1", data));
                } });
        });

});

</script>

<div class="mainbox_yewu">
    <div class="column">
        <div class="left_index">
            <div class="panel_samll">
                <div class="charttitle">客户存款规模</div>
                <div class="chart_small" id="business1"></div>
                <div class="panelfoot"></div>
            </div>
            <div class="panel_samll">
                <div class="charttitle">信用卡交易额</div>
                <div class="chart_small" id="business2"></div>
                <div class="panelfoot"></div>
            </div>
            <div class="panel_samll" style="height: 17rem">
                <div class="charttitle">业务收入</div>
                <div class="chart_small" id="business3" ></div>
                <div class="panelfoot"></div>
            </div>
        </div>
    </div>

    <!--        中间部分-->
    <div class="column">
        <!--数字模块-->
        <div class="no">
            <div class="no-top">
                <ul>
                    <li>
                        <div id="data1" class="myroll"></div>
                    </li>
                    <li>
                        <div id="data2" class="myroll2"></div>
                    </li>
                </ul>
            </div>
            <div class="no-btm">
                <ul>
                    <li>新增客户数</li>
                    <li>新增信用卡开卡数</li>
                </ul>

            </div>

        </div>
        <div class="no">
            <div class="no-top">
                <ul>
                    <li>1.29</li>
                    <li>12.3</li>
                </ul>
            </div>
            <div class="no-btm">
                <ul>
                    <li>App累计客户数(亿)</li>
                    <li>月增速(%)</li>
                </ul>
            </div>
        </div>
        <div class="no">
            <div class="no-top">
                <ul>
                    <li>5607.18</li>
                    <li>9.3</li>
                </ul>
            </div>
            <div class="no-btm">
                <ul>
                    <li>月活跃客户(万)</li>
                    <li>月增速(%)</li>
                </ul>
            </div>
        </div>
        <div class="no">
            <div class="no-top">
                <ul>
                    <li> <div id="data3" class="myroll3"></div>  </li>

                </ul>
            </div>
            <div class="no-btm">
                <ul>
                    <li>信用卡数字化获客占比(%)</li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            var totalNum1 = 10;
            var totalNum2= 6;
            var totalNum3= 14;

            var r1 = new DigitRoll({
                container: "#data1",
                width: 4,
            });
            r1.roll(totalNum1);
            var r2 = new DigitRoll({
                container: "#data2",
                width: 4,
            });
            r2.roll(totalNum2);
            var r3 = new DigitRoll({
                container: "#data3",
                width: 2,
            });
            r3.roll(totalNum3);

            setInterval(function () {
                totalNum1 += parseInt(Math.random() * 4);
                r1.roll(totalNum1);
            }, 4000);

            setInterval(function () {
                totalNum2 += parseInt(Math.random() * 3);
                r2.roll(totalNum2);
            }, 3000);

            setInterval(function () {
                totalNum3 += parseInt(Math.random() * 1.2);
                r3.roll(totalNum3);
            }, 3000);
        </script>
        <div>
            <select id="prod" style="width: 10rem">
            <!--<option value=" " selected="selected">请选择月份</option>-->
                <option value="A" >产品A</option>
                <option value="B">产品B</option>
                <option value="C">产品C</option>
            </select>
        </div>
        <div class="usr"></div>



       {#        <div style="text-align: center;"><img src="../static/images/people2.png" width="250" height="400"/></div>#}
{#                <div class="charttitle">零售客户数</div>#}
{#        <div class="business1" >#}
{#            <div id="business7"></div>#}
{#        </div>#}
{#                <div class="panelfoot"></div>#}

    </div>


    <!--     右侧-->
    <div class="column">
        <div class="right_index">
            <div class="panel_samll">
                <div class="charttitle">零售客户数</div>
                <div class="chart_small" id="business4"></div>
                <div class="panelfoot"></div>
            </div>
            <div class="panel_samll">
                <div class="charttitle">APP理财投资金额</div>
                <div class="chart_small" id="business5"></div>
                <div class="panelfoot"></div>
            </div>
            <div class="panel_samll" style="height: 17rem">
                <div class="charttitle">App各类型交易金额占比</div>
                <div class="chart_small" id="business6"></div>
                <div class="panelfoot"></div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript" src="../static/js/Charts_yewu.js"></script>

{% endblock %}


